@media screen and (max-width: 550px) {

  article {
    width: 90%;
  }

  .todo-list__ideas {
    width: 90%;
    margin: 337px auto 0;
  }

  h1 {
    font-size: 50px;
    margin: 10px auto 0;
  }

  input {
    height: 40px;
  }

  main {
    height: 265px;
  }

  .todo-list__search-field {
    margin: 272px auto 0;
  }
}