.todo-list {
  display: flex;
  justify-content: center;
}

.todo-list__search-field {
  margin: 384px auto 0;
  width: 100%;
}

.todo-list__ideas {
  display: flex;
  flex-direction: column;
  margin: 463px auto 0;
  position: absolute;
  width: 60%;
  z-index: -1;
}

.todo-list__search {
  background-color: #fff;
  position: fixed;
  z-index: 1;
}